@use "/src/variables.css";

.root {
  .status {
    color: cadetblue;
    font-size: 2em;
    text-align: center;
  }

  .title {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  div {
    margin: 20px 0;
  }
  .delete {
    background: red;
    float: right;
    color: #fff;
    border: 0;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
  }
}
